<ion-header>
  <ion-navbar>
    <ion-title>
      My IOT Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label class="connected-status">Connection Status</ion-label>
    <ion-icon item-end [name]="connection_icon" *ngIf="!connection_loading"></ion-icon>
    <ion-spinner item-end name="dots" *ngIf="connection_loading"></ion-spinner>
  </ion-item>

  <ion-item><ion-label class="activity-heading">Latest Activity</ion-label></ion-item>
  <ion-card *ngIf="!connection_loading">
    <img *ngIf="activity.isActivity" [src]="activity.image" class="image"/>
    <ion-card-content>
      <ion-card-title class="room-status">
        {{activity.last_room}}
      </ion-card-title>
      <p class="connected-status" *ngIf="!connection_loading && show_latest">
        {{activity.time_since_active}} minute(s) ago at {{activity.timestamp}}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label padding-top="20px" class="activity-heading" ion-start>Rooms</ion-label>
    <ion-icon item-end name="add" (click)="openAddRoom()" class="add-room-button"></ion-icon>
  </ion-item>


  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let room of rooms">
        <ion-card>
          <img [src]="room.image" class="image"/>
          <ion-card-content>
            <ion-card-title class="room-status">
            {{room.room}}
            </ion-card-title>
            <ion-range [(ngModel)]="room.prior_activity" min="0" [max]="max_activity" color="primary" pin="true" disabled>
              <ion-icon range-left name="md-walk"></ion-icon>
              <ion-label range-right class="battery-status">{{room.prior_activity}}</ion-label>
            </ion-range>
            <ion-range [(ngModel)]="room.battery" min="0" max="100" color="primary" pin="true" disabled>
              <ion-icon range-left name="md-battery-charging"></ion-icon>
              <ion-label range-right class="battery-status">{{room.battery}}%</ion-label>
            </ion-range>
            <ion-item>
              <ion-label class="remove-label">Remove</ion-label>
              <ion-icon item-end name="close" (click)="removeRoom(room.room_id)" class="close-button"></ion-icon>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
