page-home {
  .activity-heading {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  .connected-status {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
  }
  .room-status {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
  }
}
